/**
 * RTL CSS
 */

/*=========================================================================
-------------------------- Normalize Sections -----------------------------
==========================================================================*/

/*
 * Box Slider Normalize
 */
.bx-wrapper{
	direction:ltr;
}

.bx-wrapper li{
	direction:rtl;
}

/*=========================================================================
-------------------------- Header Section --------------------------------
==========================================================================*/

.home-icon, 
.main-navigation{
	float:right;
}

.header-search-wrapper{
	float:left;
}

.main-navigation ul li{
	float:right;
}

/*=========================================================================
-------------------------- Widget Sections --------------------------------
==========================================================================*/

/*
 * Widget Normalize
 */
.block-header, 
.widget .widget-title-wrapper, 
.related-articles-wrapper .widget-title-wrapper{
	text-align:right;
	border-width:0 2px 2px 0;
}

.widget_archive a, 
.widget_categories a, 
.widget_meta a, 
.widget_nav_menu li a, 
.widget_pages li a, 
.widget_recent_comments li, 
.widget_recent_entries a, 
.widget_rss li{
	padding-left:0;
	padding-right:20px;
}

.widget_archive a::before, 
.widget_categories a::before, 
.widget_recent_entries a::before, 
.widget_meta a::before, 
.widget_recent_comments li::before, 
.widget_rss li::before, 
.widget_pages li a::before, 
.widget_nav_menu li a::before{
	right:0;
	left:unset;
}

/*
 * Widget Recent Entries
 */
.widget_recent_entries a::before{
	content:"\f100";
}

.widget_meta a::before, 
.widget_nav_menu li a::before{
	content:"\f104";
}