/*--------------------------------------------------------------
Newspaper Lite Block List
--------------------------------------------------------------*/

.post-thumb-wrapper {
	margin-bottom: 10px;
}

.newspaper_lite_block_list {
	.single-post-wrapper {
		margin-bottom: 2%;
	}
	.post-thumb-wrapper {
		float: none;
		width: 100%;
	}
	.post-content-wrapper {
		float: none;
		width: 100%;
	}
}
