/*--------------------------------------------------------------
Related Article css
--------------------------------------------------------------*/

.related-posts-wrapper {
  .single-post-wrap {
    float: left;
    margin-left: 2%;
    width: 31.33%;
  }
  margin-left: -2%;
  .category-button a {
    color: #fff;
    margin-top: 2px;
    margin-bottom: 5px;
  }
  .post-title {
    margin-bottom: 5px;
    a {
      color: #333;
      display:block;
      font-size: 18px;
      &:hover {
        color: $primary_color;
      }
    }
  }
  .post-meta-wrapper {
    margin-bottom: 10px;
  }
}
